<div>
  <div
    class="bg-cover bg-center h-[50vh] md:h-[60vh]"
    style="background-image: url('./assets/hero-section-bg.png')"
  >
    <div
      class="absolute left-1/2 top-[35%] z-30 w-full"
      style="transform: translate(-50%, -50%)"
    >
      <div>
        <h1
          class="text-4xl font-black text-white text-center main-title images relative z-40"
        ></h1>
      </div>
      <div class="breadcrumb mt-5 w-full text-center">
        <a href="index.html" class="text-xl text-white mx-3">الرئيسية</a>
        <span class="text-xl text-white">|</span>
        <a href="images.html" class="main text-xl text-white mx-3"></a>
      </div>
    </div>
  </div>
  <div
    class="absolute top-0 left-0 w-full h-[70vh] bg-gradient-to-b from-[#000000cf] to-transparent"
  ></div>
</div>
