<link rel="stylesheet" href="/components/category-name/category-name.css" />

<div class="container mx-auto px-4 py-4 md:px-2 lg:px-10 lg:py-8 xl:px-16 mt-3">
  <h2
    class="text-3xl font-bold text-black mb-7 text-center md:text-start md:pb-3"
  >
    إسم القسم
  </h2>
  <div class="swiper-container relative overflow-hidden tourism-swiper">
    <div class="swiper-wrapper swiper-wrapper-2"></div>
    <div class="swiper-pagination pagination-2"></div>
    <div class="swiper-button-prev button-prev-2"></div>
    <div class="swiper-button-next button-next-2"></div>
  </div>
</div>
