.swiper-wrapper.swiper-wrapper-2 .swiper-slide {
  height: 250px !important;
}

.swiper-button-next.button-next-2,
.swiper-button-prev.button-prev-2 {
  display: none !important;
}

@media (min-width: 768px) {
  .swiper-pagination.pagination-2 {
    display: none !important;
  }
  .swiper-button-next.button-next-2,
  .swiper-button-prev.button-prev-2 {
    display: flex !important;
  }
}
