<div
  class="flex items-center justify-between container mx-auto px-4 py-4 md:px-2 lg:px-10 lg:py-8 xl:px-16"
>
  <div class="logo">
    <a
      href="index.html"
      class="text-2xl lg:text-3xl font-bold uppercase text-white"
      >tourismaic</a
    >
  </div>
  <div class="md:hidden">
    <button
      id="menu-button"
      class="bg-[#4CCAF2] text-white text-2xl px-2 rounded"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <ul
    id="nav-links"
    class="hidden md:flex items-center md:space-x-3 xl:space-x-6"
  ></ul>
  <div class="hidden md:block">
    <a
      href="#"
      class="text-base font-semibold lg:font-bold px-4 py-1 lg:px-8 xl:px-12 lg:py-2 rounded-full bg-[#4CCAF2] hover:bg-[#44b6d9] transition duration-200 text-white"
      >اتصل بنا</a
    >
  </div>
</div>
<div
  id="mobile-menu"
  class="fixed inset-0 hidden pt-20 pr-10 flex-col space-y-4 text-black flex"
  style="
    background-image: url('/assets/mobile-navbar-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <button
    id="close-menu"
    class="absolute px-[15px] py-2 top-5 left-5 text-2xl border border-black"
    style="border-radius: 50%"
  >
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
