@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Expo Arabic";
  src: url("./fonts/ExpoArabic-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  direction: rtl; /* Arabic language */
  font-family: "Expo Arabic", sans-serif;
}

.swiper-wrapper {
  padding-bottom: 65px;
}

.swiper-wrapper.group {
  padding-bottom: 50px !important;
}

.swiper-pagination.one {
  bottom: -5px;
}

@media (min-width: 768px) {
  .swiper-wrapper {
    padding-bottom: 0 !important;
  }
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #4ccaf2;
  background: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: 900 !important;
}

.swiper-wrapper.swiper-wrapper-2 .swiper-slide {
  height: 250px !important;
}

.swiper-button-next.button-next-2,
.swiper-button-prev.button-prev-2 {
  display: none !important;
}

@media (min-width: 768px) {
  .swiper-pagination.pagination-2 {
    display: none !important;
  }
  .swiper-button-next.button-next-2,
  .swiper-button-prev.button-prev-2 {
    display: flex !important;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4ccaf2 !important;
}

.gradient-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 0.75rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.swiper-button-prev.three,
.swiper-button-next.three {
  top: 40% !important;
}

.swiper-slide.four {
  height: unset !important;
}

.swiper-slide.five {
  height: 250px !important;
}

.swiper-wrapper.four {
  padding-bottom: 50px !important;
}

.main-title::after {
  position: absolute;
  content: "";
  z-index: -1;
  left: 50%;
  top: 25px;
  width: 50%;
  transform: translate(-50%, -50%);
  height: 28px;
  background: #4ccaf2;
}

@media (min-width: 560px) {
  .main-title::after {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .main-title::after {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .main-title::after {
    width: 12.5%;
  }
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.slick-dots li button {
  font-size: 0;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #d9d9d9;
  opacity: 0.75;
  transition: color 0.3s, opacity 0.3s;
}

.slick-dots li.slick-active button {
  background: #4ccaf2;
  opacity: 1;
}

button.slick-next.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-100%);
  width: 44px;
  height: 44px;
  color: #4ccaf2;
  background: white;
  box-shadow: 0px 0px 20px 0px #00000026;
  border-radius: 50%;
}

button.slick-prev.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: -55px;
  width: 44px;
  height: 44px;
  color: #4ccaf2;
  background: white;
  box-shadow: 0px 0px 20px 0px #00000026;
  border-radius: 50%;
}

@media (max-width: 640px) {
  button.slick-next.slick-arrow,
  button.slick-prev.slick-arrow {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .bg-single-page {
    background-image: url("/assets/images/hero-section-bg.png");
  }
}
